class {{ client.class_name }}(ClientBase):
    datasource: DataSourceConfig = DataSourceConfig(
        url={{ client.datasource.url_repr }},
        name={{ client.datasource.name_repr }},
    )

    def __init__(self, *, datasource: DataSourceConfig = datasource, echo_sql: bool = False) -> None:
        super().__init__(datasource=datasource, echo_sql=echo_sql)
{% for binding in client.model_bindings %}        self.{{ binding.attr_name }} = {{ binding.model_name }}Table(self._backend())
{% endfor %}
        self._tables = (
{% for binding in client.model_bindings %}            self.{{ binding.attr_name }},
{% endfor %}        )
